.todo{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
  display: flex;
  justify-content: center;  
  align-items: center;
 align-self: center;
  justify-self: center;
  background-color: #f9f9f9;
  border-radius: 14px;
  border: 1px solid rgb(182, 182, 182);
  color: black;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
    
  flex-direction: column;
 padding:  34px 52px 40px 52px;
  gap: 25px;
  width: 400%;
}
h1{
  font-size: 45px;
}
.todo-input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 336px;
}
/*input{
  padding: 6px 0px 6px 0px;
  font-size: 16px; 
  border: none;
  width: 227px;
  }
  .add-btn{
    padding: 6px 12px;
    font-size: 16px; 
    border-radius: 6px;
    border: 1px solid gray;
    width: 100px;
    }
    /*button {
      font-size: 18px;
      background-color: #008542;
      color: #fff;
      text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 0;
      z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

button:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #008542 !important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
  0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
  4px 0 rgb(21 108 0 / 50%) inset;
  }
  
  button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    }
    
button:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

button:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  
button:active {
  transform: translateY(4px);
}

button:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
  }*/
#addTodo {
    border: 2px solid transparent;
    width: 16em;
    height: 2.7em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

#addTodo:hover,
#addTodo:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.add-btn {
  border: 2px solid transparent;
  width: 7em;
  height: 2.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
}

.add-btn:hover {
  border: 2px solid #16ce05ff;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: #16ce05ff;
  color: white;
}

