.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 33px;
  /*background-color: rgb(21,27,35);*/
  background-color:  white;
  padding: 30px 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 18px -9px black;
}
.login-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.email-inp, .pass-inp{
  width: 230px;
  padding: 6px 12px;
    height: 1.5em;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 34px;
  color: black;
  transition: all 0.5s;
}
.email-inp:focus, .pass-inp:focus{
    outline: none;
  border-bottom: 1px solid rgba(43, 132, 248, 1);

}
.signup-para{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;

}
.login-btn:hover{
    background-color:  rgba(43, 132, 248, 1);
    cursor: pointer;
     box-shadow: 0 0 0 7px rgb(74, 157, 236, 20%)

}
.login-btn{
    margin-top: 7px;
    background-color:  rgb(68,147,248);
    color: white;
  width: 250px;
 border-radius: 20px;
  padding: 8px 12px;
  border: none;
  transition: all 0.5s;
}
