*{
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  background: #A1FFCE;
   background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
   background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    width: 100%;
    height: 100vh;
}
